// app global css in Sass form

.logo-svg
    background-image: url(~assets/logo.svg)
    background-repeat: no-repeat
    background-position: center


.logo-svg.blue
    background-image: url(~assets/logo-blue.svg)
