name: CI

on: [ push ] 

jobs:
  build_test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set permissions for scripts
      run: find . -type f -iname "*.sh" -exec chmod +x {} \;

    - uses: secrethub/actions/env-export@v0.2.1
      env:
        SECRETHUB_CREDENTIAL: ${{ secrets.SECRETHUB_CREDENTIAL }}
        DOCKER_USERNAME: secrethub://petrci1/adaptive_learning/dev/docker_username
        DOCKER_ACCESS_TOKEN: secrethub://petrci1/adaptive_learning/dev/docker_token

    - name: Import environment variables from env file
      id: import-env
      shell: bash
      run: |
        while read line || [ -n "$line" ]; do
          echo "$line" >> $GITHUB_ENV
        done < ./.test.env
      
    - name: Override BACKEND_IMAGE_TAG, NGINX_IMAGE_TAG and set GIT relevant variables
      env:
        SECRETHUB_CREDENTIAL: ${{ secrets.SECRETHUB_CREDENTIAL }}
      run: |
        echo "SECRETHUB_CREDENTIAL=$SECRETHUB_CREDENTIAL" >> $GITHUB_ENV
        BACKEND_IMAGE_TAG=${GITHUB_REF##*/} && echo "BACKEND_IMAGE_TAG=$BACKEND_IMAGE_TAG" >> $GITHUB_ENV
        NGINX_IMAGE_TAG=${GITHUB_REF##*/} && echo "NGINX_IMAGE_TAG=$NGINX_IMAGE_TAG" >> $GITHUB_ENV
        echo "GIT_BRANCH=$GITHUB_REF" >> $GITHUB_ENV
        echo "CI=1" >> $GITHUB_ENV
      
    - name: DockerHub Login
      run: echo "$DOCKER_ACCESS_TOKEN" | docker login -u "$DOCKER_USERNAME" --password-stdin
    
    - name: Build CI container and project
      run: make ci
    
    - name: Run unit tests
      run: make unit-ci
    
    - name: Run e2e tests
      run: make e2e-ci