name: CI

on: [ push ] 

jobs:
  build_test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 14.x
      uses: actions/setup-node@v1
      with:
        node-version: 14.x
      
    - run: yarn install --frozen-lockfile
    - run: yarn build
    - run: yarn test:unit:ci
    
    - name: Cypress run
      uses: cypress-io/github-action@v2
      with:
        build: yarn build
        start: yarn test:e2e:ci